{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class='hero-section bg-gray-800 text-white text-center flex flex-col justify-center items-center h-[550px] md:h-[580px] lg:h-[600px]'>
        <span class='font-mono my-2'><span class='wave'>&#128075;</span> Hi, I am Sai Ram Nadipalli</span>
        <span style="font-family: Poppins-Bold" class='z-40 text-3xl font-extrabold md:text-4xl lg:text-5xl px-[20px] md:px-[140px] lg:px-[170px] xl:px-[200px] 2xl:px-[360px]'>
            I'm a <span class='bg-clip-text bg-gradient-to-r from-cyan-300 to-blue-400 text-transparent'>Software</span> developer. This is my portfolio & Blog.
        </span>
        {% comment %} <div class='absolute -ml-64 -mt-80 h-60 w-60 bg-gradient-to-r from-cyan-300 to-blue-400 rounded-full blur-2xl opacity-10 md:opacity-10 md:-ml-[800px] md:-mt-[200px] md:h-[400px] md:w-[400px] lg:-ml-[1000px] lg:-mt-[200px] xl:-ml-[1400px] xl:-mt-[500px]'></div>
        <div class='absolute -mr-20 mt-20 h-60 w-60 bg-gradient-to-r from-blue-400 to-purple-500 rounded-full blur-2xl opacity-20 md:-mr-60 md:h-72 md:w-72 lg:-mr-64 lg:h-96 lg:w-96 lg:opacity-10'></div> {% endcomment %}
        <div class='updn hero-img my-4'>
            <img src="https://cdn.jsdelivr.net/gh/hostmind/host/static/h.png" class='h-auto w-52 md:w-56 lg:w-60 xl:w-64'>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-40 xl:-mt-52 w-10 h-10'>
                <i class="fa-brands fa-docker"></i>
            </div>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-20 ml-44 md:ml-52 md:-mt-24 xl:ml-60 xl:-mt-28 w-10 h-10'>
                <i class="fa-brands fa-aws"></i>
            </div>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-16 w-10 h-10'>
                <i class="fa-brands fa-linux"></i>
            </div>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-6 ml-20 md:-mt-6 md:ml-28 w-10 h-10'>
                <i class="fa-brands fa-python"></i>
            </div>
        </div>
        <div class='hero-btn my-3 md:mt-2 font-bold text-sm md:text-[16px] md:leading-6'>
            <ul class='flex flex-row gap-4 md:space-x-2'>
                <a href='https://drive.google.com/file/d/1D--ris6R8gzhOapBNH3lNhL4PzaGQt0J/view?usp=sharing' download><div class='relative group'>
                    <div class='bg-gradient-to-r from-cyan-300 to-blue-600 px-6 py-2 text-white rounded-md -inset-0.5 absolute blur-sm opacity-75 group-hover:-inset-1 transition group-hover:duration-400 group-hover:opacity-90 duration-1000'></div>
                    <button class='relative bg-gray-800 px-7 py-2 text-white rounded-md group-hover:text-gray-50 transition duration-200'><i class="bi bi-download font-extrabold"></i> Download CV</button>
                </div></a>
                <a href='/about'><div class='relative group'>
                    <div class='bg-gradient-to-r from-cyan-300 to-blue-600 px-6 py-2 text-white rounded-md -inset-0.5 absolute blur-sm opacity-75 group-hover:-inset-1 transition group-hover:duration-400 group-hover:opacity-90 duration-1000'></div>
                    <button class='relative bg-gray-800 px-7 py-2 text-white rounded-md group-hover:text-gray-50 transition duration-200'><i class="bi bi-person"></i> About me</button>
                </div></a>
            </ul>
        </div>
    </div>
<style>
  @keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
  }
  .animate-floating {
    animation: floating 3s infinite ease-in-out;
  }
</style>

<!-- Skills Section -->
<div class="bg-gray-900 text-white py-16">
   <h2 style="font-family: Poppins-Bold;" class="text-center text-3xl md:text-4xl lg:text-5xl mb-16 font-bold">
    My Skills
</h2>
    <div class="flex flex-col items-center">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-20 gap-y-12 px-4 md:px-16 lg:px-32 max-w-screen-xl">
            <!-- Skill Icons with Names -->
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" class="h-16 mx-auto animate-floating" alt="  Python">
                <p class="mt-3 text-sm"> Python</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" class="h-16 mx-auto animate-floating" alt="AWS">

                <p class="mt-3 text-sm">AWS</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ansible/ansible-original.svg" class="h-16 mx-auto animate-floating" alt="Ansible">
                <p class="mt-3 text-sm">Ansible</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" class="h-16 mx-auto animate-floating" alt="GCP">
                <p class="mt-3 text-sm">GCP</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg" class="h-16 mx-auto animate-floating" alt="Kubernetes">
                <p class="mt-3 text-sm">Kubernetes</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" class="h-16 mx-auto animate-floating" alt="Docker">
                <p class="mt-3 text-sm">Docker</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" class="h-16 mx-auto animate-floating" alt="Linux">
                <p class="mt-3 text-sm">Linux</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sonarqube/sonarqube-original.svg" class="h-16 mx-auto animate-floating" alt="SonarQube">
                <p class="mt-3 text-sm">SonarQube</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" class="h-16 mx-auto animate-floating" alt="MySQL">
                <p class="mt-3 text-sm">MySQL</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original.svg" class="h-16 mx-auto animate-floating" alt="Terraform">
                <p class="mt-3 text-sm">Terraform</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" class="h-16 mx-auto animate-floating" alt="Git">
                <p class="mt-3 text-sm">Git</p>
            </div>

        </div>
    </div>
</div>
<!-- Achievements Section -->
<!-- Achievements Section -->
<div class="bg-gray-900 text-white py-10">
    <h2 style="font-family: Poppins-Bold;" class="text-center text-3xl md:text-4xl lg:text-5xl mb-16 font-bold">
        My Achievements
    </h2>
    <div class="flex flex-col items-center">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4 md:px-16 lg:px-32 max-w-screen-xl">
            <!-- Achievement Card 1 -->
            <div class="text-center">
                <img src="{% static 'images/g1.png' %}" alt="Achievement Image" class="w-full h-56 object-cover">
                <a href="https://drive.google.com/file/d/1eRuz_CpiWR1mMU-K-md1-c4eFl2VIOsq/view?usp=sharing" target="_blank">
                    <button class="mt-10 bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-200 font-medium">
                        View
                    </button>
                </a>
            </div>
            <!-- Achievement Card 2 -->
            <div class="text-center">
                <img src="{% static 'images/g6.png' %}" alt="Achievement Image" class="w-full h-56 object-cover">
                <a href="https://drive.google.com/file/d/1BtpTTHT86-0sgezjjG7UKAwo7ywskPEM/view?usp=share_link" target="_blank">
    <button class="mt-10 bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-200 font-medium">
        View
    </button>
</a>

                </a>
            </div>
            <!-- Achievement Card 3 -->
            <div class="text-center">
                <img src="{% static 'images/g3.png' %}" alt="Achievement Image" class="w-full h-56 object-cover">
                <a href="https://drive.google.com/file/d/1b_lemtvUlwbwX08cbxfSAezwKXaFS0mc/view?usp=share_link" target="_blank">
                    <button class="mt-10 bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-200 font-medium">
                        View
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>



<!-- latest projects-->

<div class="bg-gray-900 text-white py-10">
    <h2 style="font-family: Poppins-Bold;" class="text-center text-3xl md:text-4xl lg:text-5xl mb-16 font-bold">
    Checkout My Latest Projects
</h2>
    <div class="flex flex-col items-center">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4 md:px-16 lg:px-32 max-w-screen-xl">
            <!-- Card 1 -->
            <div class="bg-gray-800 rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'images/github.png' %}" alt="project Image" class="w-full h-56 object-cover">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">CICD Implementation </h3>
                    <p class="text-sm text-gray-400 mb-4">Deploying a Java web application to a Kubernetes cluster by implementing a CI/CD pipeline through Jenkins using all DevOps tools.</p>
                    <div class='flex space-x-2'>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-jenkins"></i> Jenkins</span>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-docker"></i> Docker</span>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-square-aws"></i> AWS</span>

            </div>
<!--                    <div class="flex items-center justify-between text-sm text-gray-500">-->
<!--                        <span>by Sai Ram</span>-->
<!--                        <span>Jan. 26, 2025</span>-->
<!--                    </div>-->
<!--                    <a href="#" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-200 text-sm font-medium">-->
<!--                        Read more →-->
<!--                    </a>-->

                </div>
            </div>
            <!-- Card 2 -->
            <div class="bg-gray-800 rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'images/python.png' %}" alt="Post Image" class="w-full h-56 object-cover">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">Python Automation for Stock news</h3>
                    <p class="text-sm text-gray-400 mb-4">Developed a system to extract instant news on top index companies from the stock exchange and send real-time alerts.</p>
                     <div class='flex space-x-2'>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> Python</span>
                <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full">
  <i class="fa-brands fa-selenium"></i> Selenium
</span>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-api"></i> APIs</span>
            </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="bg-gray-800 rounded-lg shadow-lg overflow-hidden">
                <img src="{% static 'images/cicd.png' %}" alt="Post Image" class="w-full h-56 object-cover">
                <div class="p-6">
                    <h3 class="text-lg font-semibold mb-2">End-to-End DevOps Kubernetes Three-Tier Project</h3>
                    <p class="text-sm text-gray-400 mb-4">Deploying an end-to-end three-tier application to AWS EKS by setting up a Jenkins pipeline</p>
                   <div class='flex space-x-2'>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-jenkins"></i> Jenkins</span>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-docker"></i> Docker</span>
                <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-square-kubernetes"></i> kubernetes</span>

            </div>
                </div>
        </div>
            </div>
        <!-- Load More Button -->
<!--          <a href='/project/'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Read more <i class="bi bi-arrow-right font-extrabold"></i></button></a>-->
        <a href="{% url 'projects' %}">
  <button class="mt-10 bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-200 font-medium">
    Load more →
  </button>
</a>
    </div>
</div>

{% endblock %}